{% render 'partials/head.liquid', title: 'Squad page' %}

<header>
  <img src="/images/fdnd.png" alt="fdnd" width="75" height="75">
</header>
    <main >
      <form>
    <h1>Zoek je squad-mate!</h1>
    <div class="controls">
    <input type="search" placeholder="Zoek op naam">

  <select id="filter-select">
    <option value="">Sorteren</option>
    <option value="az">Naam A-Z</option>
    <option value="za">Naam Z-A</option>
    <option value="birthdate">Birthdate</option>
  </select>
</div>
        </form>

<div class="wrapper">
    {% for person in persons %}
      
      <div class="Squadcard" style="--fav-color: {{ person.fav_color }}">
        <a href="/student/{{ person.id }}">
        <img
          class="mugshot"
          src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}{% else %}/images/prop.jpg{% endif %}"
          alt="{{ person.name }}"
        >
        </a>
        <div class="card-footer">
    <p>{{ person.name }}</p>
    <span class="heart">♥</span>
  </div>
      </div>

    {% endfor %}
  </div>
  </main>
</body>
{% render 'partials/foot.liquid', squads: squads %}
